* {
    font-family: sans-serif;
    text-align: center;
}

body {
    background-color: #eef3ee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
}

section {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.alfabeto {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 90px;
    justify-content: center;
}

.alfabeto button {
    height: 45px;
    width: 45px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    border: none;
    outline: none;
    box-shadow: 1px 2px 2px gainsboro;
    border-radius: 8px;
    background-color: #4B0082;
    color: #fff;
}

button:disabled,
button[disabled] {
    background-color: #ccc;
    color: #666666;
}

.palavra {
    display: flex;
    flex-direction: column;
}

.palavra .letras {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}

.palavra .letras p {
    margin: 0;
    width: 40px;
    height: 45px;
    border-bottom: 2px solid black;
}

.title {
    font-size: 48px;
    font-family: 'Press Start 2P';
    line-height: 1.5;
    letter-spacing: 2;
    color: #4B0082;
    text-shadow: 3px 3px 1px #c8c8c8;
}

.tema {
    font-size: 24px;
}

.erros {
    color: red;
    margin: 20px 0;
    font-weight: 600;
}

#btn-new {
    border: none;
    position: fixed;
    bottom: 10%;
    right: 10%;
    z-index: 5;
    width: 60px;
    height: 60px;
    color: #fff;
    background-color: #4B0082;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-new span {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg style='enable-background:new 0 0 24 24;' version='1.1' viewBox='0 0 24 24' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='info'/%3E%3Cg id='icons'%3E%3Cg id='reload'%3E%3Cpath d='M23,5.4v-2c0-0.9-1.1-1.3-1.7-0.7l-2.2,2.2C17.4,3.7,15.3,3,13,3C9.2,3,5.8,5,4.1,7.4C3.7,8.1,4.2,9,5,9h0 c0.3,0,0.6-0.2,0.8-0.5C7.1,6.8,9.4,6,12,6c1.8,0,3.5,0.4,4.8,1.2l-2.1,2.1c-0.6,0.6-0.2,1.7,0.7,1.7h2H22h0c0.6,0,1-0.4,1-1V5.4 C23,5.4,23,5.4,23,5.4z'/%3E%3Cpath d='M19.7,15L19.7,15c-0.4,0-0.7,0.2-0.9,0.5c-1.2,1.7-3.5,2.5-6.1,2.5c-2,0-3.9-0.5-5.1-1.5l1.8-1.8C9.9,14.1,9.5,13,8.6,13 h-2H2c-0.6,0-1,0.4-1,1v4.6v2c0,0.9,1.1,1.3,1.7,0.7l2.4-2.4c1.7,1.3,4,2.1,6.5,2.1c3.9,0,7.2-2,8.9-4.5C21,15.9,20.5,15,19.7,15z '/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(5deg) brightness(92%) contrast(107%);
    display: block;
    height: 35px;
    width: 35px;
}

.pontuacao {
    margin-top: 30px;
    font-weight: 600;
    color: rgb(148, 86, 193);
}

@media (max-width:500px) {
    section{
        gap: 0;
    }
    #btn-new {
        bottom: 5%;
        right: 5%;
    }
    .palavra .letras p {
        width: 20px;
        height: 25px;
        font-size: 25px!important;
    }
    .title {
        font-size: 32px;
    }
    .tema {
        font-size: 18px;
    }
}